.devices {
    background: url("images/devicesA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.devices:hover {
    background: url("images/devicesB.png") no-repeat;
}

.requestDevice {
    background: url("images/requestA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.requestDevice:hover {
    background: url("images/requestB.png") no-repeat;
}

.submit {
    background: url("images/submitA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.submit:hover {
    background: url("images/submitB.png") no-repeat;
}

.requests {
    background: url("images/requestsA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.requests:hover {
    background: url("images/requestsB.png") no-repeat;
}

.tickets {
    background: url("images/ticketsA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.tickets:hover {
    background: url("images/ticketsB.png") no-repeat;
}

.addUser {
    background: url("images/userA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.addUser:hover {
    background: url("images/userB.png") no-repeat;
}

.addDev {
    background: url("images/addDevA.png") no-repeat;
  	width: 170px;
    height: 50px;
    float:left;
}
.addDev:hover {
    background: url("images/addDevB.png") no-repeat;
}

.logout {
    background: url("images/logoutA.png") no-repeat;
  	width: 170px;
    height: 50px;


    float:left;
}
.logout:hover {
    background: url("images/logoutB.png") no-repeat;
}

.navBar {
    padding-top: 10px;
    padding-bottom: 10px;
    width:1140px; 
    margin:0 auto;
}

.adminNavBar {
    padding-top: 10px;
    padding-bottom: 10px;
    width:1520px; 
    margin:0 auto;
}

.incomplete {
    border: 2px solid red;
    border-radius: 4px;
    background-color: #ff3333;
    color: white;
}

#navButton {
    padding: 10px;
}

#editDevices {
    width:100px; 
    height:35px; 
    background:blue; 
    padding-top:50px;
    background-clip: content-box; 
    text-align: center; 
    color: white;   
}

body{
    background-image: url("images/background.png");
    background-repeat: repeat-x;
    width:1520px; 
    margin:0 auto;
}